h1{ 
    color: blue;
    background-color: yellow;
}
/*
.heading{
    color: white;
    background-color: red;
}
h4{
    color: white;
}
p{
    color: red;
    background-color: rgb(0, 255, 0);
}
body{
    font-family: Arial, sans-serif;
     background-color: black;
} 
.box{
    height: 100px;
    width: 100px;
    border: 3px solid black;
    margin: 5px;
    text-align: center;
    background-color: aqua;
}*/

.box{
    height: 250px;
    width: 100px;
    background-color: purple;
    color:black;
    border: 2px solid black;
}
.content{
    color: red;
}

.newclass{
    background-color: lawngreen;
    color: blue;
    border: 2px solid black;
}