h2{
    color: blue;
    background-color: yellow;
}
.heading{
    color: white;
    background-color: red;
}
h4{
    color: white;
}
p{
    color: red;
    background-color: rgb(0, 255, 0);
}

body{
    font-family: Arial, sans-serif;
    background-color: black;
} 