

div{
    height: 100px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*flex-wrap: wrap;*/
    align-items:flex-start;
    /*align-content: flex-start;*/
}

#box1{
    background-color: aqua;
    flex-grow: 1;
}
#box2{
    background-color: pink;
    height: 200px;
    /*flex-shrink: 0.5;*/
    flex-grow: 1;
}
#box3{
    background-color: darkkhaki;
    height: 75px;
}
#box4{
    background-color: indianred;
}
#box5{
    background-color: slateblue;
    /*align-self: flex-end;*/ 
}

.navbar{
    background-color:pink;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: red;
}

li{
    list-style-type: none;
    display: inline;
}

.outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 100px;
    width: 100px;
    background-color: darkorchid;
}
/* align-self >>> align-items*/

div{
    height: 50px;
    width: 50px;
    background-color: pink;
}

@media (min-width : 600px){
    div{
        background-color: red;
    }
}

@media (min-width:400px) and (max-width:500px){
    div{
        background-color: black;
    }    
}